1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x4
FILETYPE 0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Mathery"
            VALUE "FileDescription", "Mathery Kadia! - RetroBat + Windows Media Center frontend"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "Kadia"
            VALUE "OriginalFilename", "Kadia.exe"
            VALUE "ProductName", "Mathery Kadia!"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
